h1,
p {
  font-family: Lato;
}

.background {
  background-color: #000;
  width: 100%;
}

.screen {
  color: #fff;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 80px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  font-size: 50px;
}

.btn-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 15px;
}

.btn {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.other {
  background-color: #a0a0a0;
}

.actions {
  background-color: #ff9b05;
}

.numbers {
  background-color: #313131;
}

.equals {
  grid-column: 1 / span 2;
  grid-row: 5;
  width: 170px;
}
